body{
    overflow:hidden;
    background-color: #0a001b;
   margin: 0;
   padding: 0;
   max-height: 100vh;
}

body >h1 {
    padding: 1rem;
    color: black;
    background-color: white;
    font-family: 'Freestyle Script','Literata', Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    letter-spacing: .2rem;
    
}
h1 span {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}
h2 {
    width: 50%;
    text-align: left;
    font-size: .75rem;
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Literata';
}
h4 {
    margin-left: 3.5rem;
    margin-top: 3.5rem;
    width: 60%;
    font-size: .85rem;
}
.hfaq {
    padding-top: 5rem;
}
strong {
    text-align: left;
}
.overlap {
    width: 90%;
    height: 84%;
    margin-top: 2.75rem;
    mix-blend-mode: luminosity;
}
.certificato {
    cursor: pointer;
    width: 72%;
    mix-blend-mode: multiply;
     box-shadow: inset 0 0 40px #000000;
     margin-top: 2.5rem;
}
#monopattino {
    width: 80%;
    mix-blend-mode: multiply;
    margin-top: 3%;
    box-shadow: inset 0 0 40px #000000;
}
body > a {
    color: black;
    text-decoration: none;
    margin-left: 6.7rem;
    background-color: white;
    padding: 2rem;
    margin-top: 0;
}
.monopattino {
    width: 40%;
    mix-blend-mode: multiply;
    margin-top: 3%;
    box-shadow: inset 0 0 40px #000000;
}
.late {
    color: black;
    background-color: lightskyblue;
    padding: 2rem;
    text-align: left;
}
.who {
    margin-left: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 60%;
    font-size: .85rem;
}

.what {
    width: 50%;
    text-align: left;
    font-size: .75rem;
    margin-top: 0;
    margin-left: 50px;
    margin-bottom: 50px;
    font-family: 'Literata';
}
.newmono {
    width: 90%;
    mix-blend-mode: multiply;
    margin-top: 6%;
    box-shadow: inset 0 0 40px #000000;
}
.secondo img:last-of-type {
    margin-top: 4rem;
}
.monopattino:hover {
    mix-blend-mode: unset;
}
.hard img {
    margin-top: 3rem;
    width: 55%;
    mix-blend-mode: overlay;
}

.hard h1 {
    font-size: 7rem;
    margin-top: 5rem;
    padding: 0;
    font-family: 'Freestyle Script',monospace;
    color: white;
   mix-blend-mode: overlay;
}
.logo img {
    width: 50%;
    margin-top: 30px;
}
.hfaq {
    margin-top: 2rem;
}
.faq {
    width: 50%;
    text-align: left;
    font-size: .75rem;
    margin-top: 0;
    margin-left: 50px;
    font-family: 'Literata';
}
p {
    width: 50%;
    text-align: left;
    font-size: .75rem;
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Literata';
}
.container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: auto;
}

.p2 {
    background-color: crimson;
}
a {
    display: inline-block;
    
}
.link {
    display: block;
    margin-top: 12rem;
    font-size: 2rem;
    text-decoration: none;
    
    width: 50%;
    padding: 3rem;
    margin-left: 3.5rem;
    margin-right: 2.5rem;
    color: rgb(187, 187, 187);
    font-weight: 900;
    font-family: 'Literata';
    text-transform: uppercase;
    
    font-size: .75rem;
     box-shadow: inset 0 0 10px #000000;
     mix-blend-mode: overlay;
}
#flipbook{
    width:400px;
    height:500px;
}

#flipbook .page{
    width:800px;
    height:500px;
    background-color:white;
    line-height:1rem;
    text-align:center;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:rgb(48, 48, 48) !important;
    background-image: url(texture.png) !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    
}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}